{% extends 'base_template_header.html' %}
{% load static %}


{% block head_title %}Cerca sala{% endblock %}


{% block content %}
    <div class="container w-100 top-div">
        <div class="row d-flex">
            <div class="mr-auto p-2">
                <h3 class="text-capitalize">Sale popolari</h3>
            </div>
            <div class="p-2">
                <div>
                    <a class="btn minimize-button" data-toggle="collapse" href="#row-buttons" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-window-minimize"></i>
                    </a>
                </div>
            </div>
        </div>
        {# TODO: aggiungere le sale più cercate #}
        <div id="row-buttons" class="row collapse show">
            <ul class="flex-container wrap">
                {% for key, value in favorite.items %}
                    {% for x in value %}
                        <li class="search-btt-go-room">
                            <a class="btn custom-btt-go-div-club text-capitalize" href="#{{ key }}"
                               role="button">{{ x.room_name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container w-75">
        <form name="search-field" method="GET" action="{% url 'rooms:room-search' %}">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <div class="row">
                        <div class="col p-2">
                            <label class="text-white outlined-label" for="form_frame">Sezione</label>
                            {# TODO: effettuare una ricerca avanzata in base ai campi delle sale #}
                            <select id="form_frame" class="form-control" name="section-type">
                                {% for value in section %}
                                    {% if forloop.counter0 == 0 %}
                                        <option value="{{ value }}" selected="selected">{{ value }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {# nuova ricerca avanzata #}
                    <div class="row">
                        <div class="col-3 p-2">
                            <label class="text-white outlined-label" for="seats-number">Massimo numero di posti</label>
                            <input type="number" id="seats-number" class="form-control" name="seats-number">
                        </div>
                        <div class="col p-2">
                            <label class="text-white outlined-label" for="minimum-bet">Puntata minima</label>
                            <select id="minimum-bet" class="form-control" name="minimum-bet">
                                <option value="0.10">0.10</option>
                                <option value="0.20">0.20</option>
                                <option value="0.50">0.50</option>
                                <option value="1.00">1.00</option>
                                <option value="2.00">2.00</option>
                                <option value="5.00">5.00</option>
                                <option value="10.00">10.00</option>
                                <option value="20.00">20.00</option>
                                <option value="50.00">50.00</option>
                                <option value="100.00">100.00</option>
                                <option value="200.00">200.00</option>
                                <option value="500.00">500.00</option>
                            </select>
                        </div>
                        <div class="col p-2">
                            <label class="text-white outlined-label" for="opening-time">Orario di apertura</label>
                            <input type="time" id="opening-time" class="form-control" name="opening-time">
                        </div>
                        <div class="col p-2">
                            <label class="text-white outlined-label" for="closing-time">Orario di chiusura</label>
                            <input type="time" id="closing-time" class="form-control" name="closing-time">
                        </div>

                        <div class="col p-2">
                            <div class="row" style="margin-top: 20px">
                                <div class="col-sm-2">
                                    <input type="checkbox" id="seats-available" class="form-check-input"
                                           name="seats-available" style="margin-left: 20px">
                                </div>
                                <div class="col-sm-10">
                                    <label class="text-white" for="seats-available">Solo sale con posti
                                        disponibili</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 pt-2 text-center">
                <div class="col">
                    <input type="submit" id="search-btt" class="btn btn-dark" value="Cerca le sale disponibili">
                </div>
                <div class="col">
                    <button id="minimize-all-button" class="btn btn-dark" type="button">Espandi Tutto</button>
                </div>

            </div>
        </form>
    </div>

    {% if not room.items %}
        <div class="container w-50 mt-5 p-3 bg-warning rounded text-center">
            <p>Spiacente, nessuna sala disponibile per questa sezione</p>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                {% for key, value in room.items %}
                    <div class="col-sm-4">
                        <div id="{{ key }}" class="container search-div-club mb-5 mt-3">
                            <div class="row mb-2">
                                {% for rm in value %}
                                    {# Informazioni sala #}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="thumbnail" style="position: relative;">

                                                <img class="img-thumbnail" src="/media/uploads/{{ rm.cover_pic }}">

                                                <a class="btn minimize-button" data-toggle="collapse"
                                                   href="#row-{{ key }}" role="button" aria-expanded="false"
                                                   aria-controls="collapseExample"
                                                   style="position: absolute; top: 10px; right: 10px;border: 2px solid white;">
                                                    <i class="fas fa-window-minimize"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 d-flex align-items-center justify-content-center">

                                            <div class="mr-auto p-2">
                                                <span class="d-block text-center room-thumbnail-title">{{ rm.room_name }}</span>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="collapse" id="row-{{ key }}">
                                        <div class="row mt-3" style="text-align: center">
                                            <div class="col-sm-4" style="margin-left: 5px;">
                                                <p>
                                                    <i class="fa-regular fa-user"></i> {{ rm.seats_occupied }}/{{ rm.seats_number }}
                                                </p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p>Puntata minima: {{ rm.minimum_bet }}€</p>
                                            </div>
                                            <div class="col-sm-4" style="margin-left: 5px;">
                                                <p><i class="fas fa-door-open"></i> {{ rm.opening|time:"H:i" }}</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <p><i class="fas fa-door-closed"></i> {{ rm.closing|time:"H:i" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                            <div class="p-2">
                                                {% if user.is_authenticated %}
                                                    <a class="custom-button-prenota custom-btn btn"
                                                       href="{% url 'rooms:room-overview' rm.id %}">
                                                        <i class="fas fa-dice"></i><span
                                                            class="ml-2">Vai alla Sala</span>
                                                    </a>
                                                {% else %}
                                                    <a class="custom-button-prenota custom-btn btn"
                                                       href="{% url 'users:login' %}">
                                                        <i class="fas fa-dice"></i><span class="ml-2">Accedi per entrare nella sala</span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %} <!-- Fine for info sala -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}


{% endblock %}


{% block javascript %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var minimizeAllButton = document.getElementById("minimize-all-button");
            var minimizeButtons = document.getElementsByClassName("minimize-button");

            minimizeAllButton.addEventListener("click", function () {
                //var isExpanded = minimizeAllButton.getAttribute("aria-expanded") === "true";
                var isCompressed = minimizeAllButton.textContent === "Espandi Tutto"

                for (var i = 0; i < minimizeButtons.length; i++) {
                    var button = minimizeButtons[i];

                    if (isCompressed && button.ariaExpanded === "false") {
                        button.click();

                    } else if (!isCompressed && button.ariaExpanded === "true") {
                        button.click();

                    }
                }

                minimizeAllButton.classList.toggle("btn-primary");
                if (minimizeAllButton.textContent === "Espandi Tutto") {
                    minimizeAllButton.textContent = "Comprimi Tutto";
                } else {
                    minimizeAllButton.textContent = "Espandi Tutto";
                }
            });
        });

    </script>

    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var sectionType = urlParams.get('section-type');
        var seatsNumber = urlParams.get('seats-number');
        var minimumBet = urlParams.get('minimum-bet');
        var openingTime = urlParams.get('opening-time');
        var closingTime = urlParams.get('closing-time');
        var seatsAvailable = urlParams.get('seats-available');

        $('#form_frame').val(sectionType);
        $('#seats-number').val(seatsNumber);
        $('#minimum-bet').val(minimumBet);
        $('#opening-time').val(openingTime);
        $('#closing-time').val(closingTime);
        $('#seats-available').prop('checked', seatsAvailable === 'on');
    </script>
{% endblock %}