{% extends 'base_template_header.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="rounded p-3 shadow signup-box">
            {% if user_type == 'player' %}
                <h1 class="text-center">Crea il tuo nuovo account utente</h1>
                <h4>Registrandoti, potrai accedere alle sale e iniziare a divertirti giocando</h4>

            {% else %}
                <h1 class="text-center">Crea un nuovo account croupier </h1>
                <h4>Registrandoti potrai creare e gestire la tua sala</h4>
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% crispy form %}
            </form>

        </div>
    </div>

    <script>
        function addImageOnChange() {
            var input = $("#id_profile_pic");
            input.on("change", function () {
                var displayDiv = $("#display-image");
                displayDiv.empty();
                var file = this.files[0];
                var imageUrl = URL.createObjectURL(file);
                var image = $("<img>");
                image.attr("src", imageUrl);
                image.css("max-width", "100px");
                image.css("max-height", "100px");
                if (file) {
                    displayDiv.append(image);
                }
            });
        }
        $(document).ready(function () {
            addImageOnChange();
        });
    </script>


{% endblock %}
