{% extends 'users/profile.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Profilo utente{% endblock %}

{# TODO: aggiungere un grafico (chart.js) che visualizzi l'andamento del saldo utente #}
{# TODO: aggiungere lo storico dei pagamenti dell'utente #}

{% block saldo %}
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Saldo</h6>
        </div>
        <div class="col-sm-6 text-secondary">
            {{ player.saldo }}
        </div>
        <div class="col-sm-3">
            <button type="button" class="update-saldo bs-modal btn btn-sm btn-primary"
                    data-form-url="{% url 'users:update_saldo' user.id %}">
                <span class="fa fa-pencil"></span>
            </button>
        </div>
    </div>
{% endblock %}

{% block profile %}
    <div class="card mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h6 class="d-flex align-items-center mb-3">Stanze a cui sei iscritto</h6>
                {# TODO inserire le room a cui è iscritto l'utente #}
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div id="updateSaldoModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aggiorna Saldo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateSaldoForm" method="post" action="{% url 'users:update_saldo' user.id %}">
                        {% csrf_token %}
                        <label for="id_saldo">Saldo</label>
                        <input type="number" step="0.01" class="form-control" id="id_saldo" name="saldo">
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="submit" form="updateSaldoForm" class="btn btn-primary">Salva</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".update-saldo").click(function () {
                var formUrl = $(this).data('form-url');
                $("#updateSaldoForm").attr('action', formUrl);
                $("#updateSaldoModal").modal('show');
            });

            $("#updateSaldoForm").submit(function (event) {
                var saldoValue = parseFloat($("#id_saldo").val());
                if (isNaN(saldoValue) || saldoValue <= 0) {
                    event.preventDefault();
                    alert("Il saldo inserito non è valido. Deve essere maggiore di zero");
                }
            });
        });
    </script>
{% endblock %}



