{% extends 'base_template_header.html' %}
{% load crispy_forms_field %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Profilo{% endblock %}

{# TODO: aggiungere un grafico (chart.js) che visualizzi l'andamento dei guadagni della sala #}
{# TODO: aggiungere lo storico dei pagamenti degli utenti #}
{% block content %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ user.get_profile_pic_url }}" alt="" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{ user.username }}</h4>
                                    <button type="button" class="update-pic bs-modal btn btn-primary"
                                            data-form-url="{% url 'users:update-pic' user.id %}">
                                        modifica immagine profilo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.first_name }} {{ user.last_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ultimo Login</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.last_login|date:"d/m/y H:i:s" }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Data Iscrizione</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.date_joined|date:"d/m/y H:i:s" }}
                                </div>
                            </div>
                            {% block saldo %}
                            {% endblock %}
                        </div>
                    </div>
                    {% block profile %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- update pic Modal -->
    <div id="updatePicModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifica Immagine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updatePicForm" method="post" enctype="multipart/form-data"
                          action="{% url 'users:update-pic' user.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% crispy form_pic %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top: 5px">Chiudi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function addImageOnChange() {
            // Seleziona l'input file
            var input = $("#id_profile_pic");

            // Aggiungi un gestore per l'evento change dell'input file
            input.on("change", function () {
                // Seleziona il div in cui visualizzare l'immagine
                var displayDiv = $("#display-image");

                // Rimuovi eventuali immagini presenti nel div
                displayDiv.empty();

                // Leggi il file selezionato
                var file = this.files[0];

                // Crea un oggetto URL per l'immagine selezionata
                var imageUrl = URL.createObjectURL(file);

                // Crea un elemento immagine
                var image = $("<img>");
                image.attr("src", imageUrl);
                image.css("max-width", "100px");
                image.css("max-height", "100px");

                // Aggiungi l'immagine al div solo se è presente un'immagine selezionata
                if (file) {
                    displayDiv.append(image);
                }
            });
        }


        $(document).ready(function () {
            $(".update-pic").click(function () {
                var formUrl = $(this).data('form-url');
                $("#updatePicForm").attr('action', formUrl);
                $("#updatePicModal").modal('show');
                addImageOnChange();

            });

        });

    </script>

    {% block modal %}

    {% endblock %}

    {% block javascript %}
    {% endblock %}

{% endblock %}

